<div class="container">

  <h3>Update task</h3>

  <div class="row">
    <ol class="breadcrumb">
      <li><%= link_to 'Tasks', tasks_path %></li>
      <li><%= @task.description %></li>
    </ol>
  </div>

  <%= render "form" %>

</div>
