<div class="container">
<div class="page-header">
  <h1> Terms </h1>
</div>

<hr>
<p> Gschool is not responsible for anything, unless its positive. </p>
<p> You may not take us to court. For anything. Ever </p>

</div>
