<div class= "container">
  <div class="page-header">
    <div class="pull-right">
      <div class= "new-project-header">
      <tr><%= link_to 'New project', new_project_path, class: "btn btn-info" %></tr>
      </div>
    </div>
    <h1>Projects</h1>
  </div>

  <table class= "table">
    <thead>
      <tr>
        <th> Name </th>
        <th> Tasks </th>
      </tr>
    </thead>
      <% if current_user.admin == true %>
      <% @all_projects.each do |project| %>
    <tbody>
        <tr>

          <td><%= link_to project.name, project_path(project) %></td>
          <td><%= link_to project.tasks.count, project_tasks_path(project) %></td>

        </tr>
      <% end %>
      <% end %>
    </tbody>
  </table>
  <div class="page-header">
    <h1>Pivotal Tracker Projects</h1>
  </div>

  <table class= "table">
    <thead>
      <tr>
        <th> Name </th>
      </tr>
    </thead>

    <% if current_user.trackertoken %>
      <% @pivotal_projects.each do |project_hash| %>
    <tbody>
      <tr>

        <td><%= link_to project_hash[:name], tracker_project_path(project_hash[:id], project_name: project_hash[:name])  %></td>

      </tr>
    </tbody>
      <% end %>
    <% end %>
  </table>


</div>
