/*
*= require_tree .
*= require_self
*/


 @import "bootstrap-sprockets";
 @import "bootstrap";

.footer_icon {
  height: 36px;
  width: 36px;
}

body { padding-bottom: 70px; }

body { padding-top: 70px; }
